%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = csrf_meta_tag
    = favicon_link_tag '/favicon.ico'
    = stylesheet_link_tag 'application', media: :all
    = stylesheet_link_tag "controller/#{params[:controller]}", media: :all
    = javascript_include_tag 'application'
    = javascript_include_tag "controller/#{params[:controller]}"
    %title Mijyuoon's Website - #{yield :title}
  %body
    #vue-app-root
      %b-navbar(toggleable="md" type="light" variant="light")
        %b-nav-toggle(target="navbar-collapse")
        %b-navbar-brand(href="#")
          %img.navbar-logo(src="/images/site/logo.png")
          %span.navbar-label Mijyuoon's Website
        %b-collapse#navbar-collapse(is-nav)
          %app-navbar-menu
          %app-navbar-right{':login': 'login'}
      %b-container.app-content
        .app-alerts
          %b-alert(show){'v-for': 'alert in alerts',
          ':variant': 'alert.type', ':dismissible': 'alert.close'}
            %span.title {{alert.title}}
            %span.text {{alert.text}}
        = yield
    - add_flash_to_frontend_data
    = json_object_tag(@frontend_data, 'page-data')
    :javascript
      window.$App.initialize()
    - if params[:console]
      = console